{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}

{% block styles %}

{% bootstrap_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

{% endblock %}


{% block content %}
{{ block.super }}

<div class="row m-4">
  <div class="col-md-4">
<div class="card h-100" style="width: 18rem;">
  <img src="{{kenyatta.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{kenyatta.name}}</p>
  </div>
  </div>
</div>


  <div class="col-md-4">
<div class="card h-100 " style="width: 18rem;">
  <img src="{{karen.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{karen.name}}</p>
  </div>
  </div>
</div>
</div>
{% endblock %}